name: Rust

on:
  push:
  pull_request:

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - run: cargo test --all-features
      - run: cargo clippy -- -D warnings
      - run: cargo fmt --all -- --check

      - uses: baptiste0928/cargo-install@v2
        with:
          crate: cargo-audit
      - run: cargo audit
